# GRUB config for DXN1-OS 1.0 (UEFI boot path)
set default=0
set timeout=5
set gfxmode=auto
set gfxpayload=keep
insmod all_video
insmod gfxterm
insmod iso9660
insmod part_gpt
insmod png
insmod loopback

loadfont /boot/grub/fonts/unicode.pf2

set color_normal=light-green/black
set menu_color_normal=light-green/black
set menu_color_highlight=white/green

menuentry "DXN1-OS 1.0  (default, full driver support)" {
    linux /boot/bzImage root=live:CDLABEL=DXN1OS rootfstype=squashfs rw rd.live.image rd.live.squashimg=/dxn1/rootfs.squashfs quiet loglevel=3
    initrd /boot/initramfs.img
}

menuentry "DXN1-OS 1.0  (safe graphics, nomodeset)" {
    linux /boot/bzImage root=live:CDLABEL=DXN1OS rootfstype=squashfs rw rd.live.image rd.live.squashimg=/dxn1/rootfs.squashfs quiet nomodeset
    initrd /boot/initramfs.img
}

menuentry "DXN1-OS Installer (TUI: 5GB / full-disk / manual)" {
    linux /boot/bzImage root=live:CDLABEL=DXN1OS rootfstype=squashfs rw rd.live.image rd.live.squashimg=/dxn1/rootfs.squashfs quiet dxn1.installer=1
    initrd /boot/initramfs.img
}

menuentry "DXN1-OS Rescue Shell" {
    linux /boot/bzImage root=live:CDLABEL=DXN1OS rootfstype=squashfs rw rd.live.image rd.live.squashimg=/dxn1/rootfs.squashfs quiet dxn1.rescue=1
    initrd /boot/initramfs.img
}

menuentry "Reboot" {
    reboot
}

menuentry "Power Off" {
    halt
}
