SERIAL 0 115200
UI menu.c32
PROMPT 0
TIMEOUT 50
DEFAULT vesamenu.c32

MENU TITLE DXN1-OS 1.0  (c) DXN1 Project
MENU BACKGROUND /isolinux/splash.png
MENU COLOR title      0 #FF00FF00 #00000000 std
MENU COLOR border     0 #FF00FF00 #00000000 std
MENU COLOR sel        7  #FFFFFFFF #FF00AA00 all
MENU COLOR hotsel     0  #FFFFFFFF #FF00AA00 all
MENU COLOR timeout_msg 0 #FFAABBCC #00000000 std
MENU COLOR timeout    0 #FFAABBCC #00000000 std
MENU WIDTH 78
MENU MARGIN 4
MENU ROWS 12
MENU TABMSGROW 18
MENU CMDLINEROW 18
MENU ENDROW 22

LABEL dxn1
  MENU LABEL ^1.  DXN1-OS 1.0  (default, full driver support)
  KERNEL /boot/bzImage
  INITRD /boot/initramfs.img
  APPEND root=live:CDLABEL=DXN1OS rootfstype=squashfs rw rd.live.image rd.live.squashimg=/dxn1/rootfs.squashfs quiet loglevel=3 vga=791

LABEL dxn1-nomodeset
  MENU LABEL ^2.  DXN1-OS 1.0  (safe graphics, nomodeset)
  KERNEL /boot/bzImage
  INITRD /boot/initramfs.img
  APPEND root=live:CDLABEL=DXN1OS rootfstype=squashfs rw rd.live.image rd.live.squashimg=/dxn1/rootfs.squashfs quiet nomodeset vga=791

LABEL dxn1-installer
  MENU LABEL ^3.  DXN1-OS Installer  (TUI, 5GB / full-disk / manual)
  KERNEL /boot/bzImage
  INITRD /boot/initramfs.img
  APPEND root=live:CDLABEL=DXN1OS rootfstype=squashfs rw rd.live.image rd.live.squashimg=/dxn1/rootfs.squashfs quiet dxn1.installer=1 vga=791

LABEL dxn1-rescue
  MENU LABEL ^4.  DXN1-OS Rescue Shell
  KERNEL /boot/bzImage
  INITRD /boot/initramfs.img
  APPEND root=live:CDLABEL=DXN1OS rootfstype=squashfs rw rd.live.image rd.live.squashimg=/dxn1/rootfs.squashfs quiet dxn1.rescue=1 vga=791

LABEL memtest
  MENU LABEL ^5.  Memtest86+
  KERNEL /boot/memtest86+

LABEL hdt
  MENU LABEL ^6.  Hardware Detection Tool
  KERNEL /boot/hdt.c32

LABEL reboot
  MENU LABEL ^7.  Reboot
  COM32 reboot.c32

LABEL poweroff
  MENU LABEL ^8.  Power Off
  COM32 poweroff.c32
